.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }
.image-design:hover .overlay {
    opacity: 1;
}
.text{
    color: tomato;
    font-size: 14px;
    margin: 4px 4px;
    padding: 4px 4px; 
    text-align: justify;
}
.icons{
    margin:10px 10px;

}
.paragraph{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
    color: darkslateblue;
}